<div>
    <h4 style="color: blue;">Fixed Deposit</h4>
</div>
<div>
    <img src="assets/deposit.png" alt="" style="width: 100%;">
</div>
<div style="text-align: center;margin-top: 2%;">
    <h1>Top Benefits</h1>
</div><br>
<div class="container">
    <div class="row">
      <!-- Container 1 -->
      <div class="col-md-3">
        <img src="assets/21.png" alt="">
      </div>

      <!-- Container 2 -->
      <div class="col-md-3">
        <img src="assets/22.png" alt="">
      </div>

      <!-- Container 3 -->
      <div class="col-md-3">
        <img src="assets/23.png" alt="">
      </div>

      <!-- Container 4 -->
      <div class="col-md-3">
        <img src="assets/24.png" alt="">
      </div>
    </div>
  </div>
  <table >
    <tr>
        <th>Fixed Deposit Interest Rates w.e.f. 21stNovember, 2023</th>
        
    </tr>
    <tr>
        <th>Period</th>
        <th>Regular</th>
        
        <th>Senior Citizen**</th>
    </tr>
    <tr>
        <th>Interest Rates (%P.A.)*</th>
        <th>Annualised
            Yield^</th>
            <th>Interest Rates (%P.A.)*</th>
            <th>Annualised
                Yield^</th>
    </tr>
</table>
                
            
           
        
       
    
  
