<div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let security of security" class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h3 class="card-title" style="color: rgb(232, 89, 12);">BANK CUSTOMER DETAILS</h3>
                <div ><strong style="color: blue;">ID:</strong> {{ security.id }}</div>
                <div><strong style="color: blue;">Name: </strong>{{ security.name }}</div>
                <div> <strong style="color: blue;">Father's Name:</strong> {{ security.fathername }}</div>
                <div> <strong style="color: blue;">Age:</strong> {{ security.age }}</div>
                <div> <strong style="color: blue;">Gender:</strong> {{ security.gender }}</div>
                <div> <strong style="color: blue;">Mobile:</strong> {{ security.mobile }}</div>
                <div> <strong style="color: blue;">Aadhar No:</strong> {{ security.aadharno }}</div>
                <div> <strong style="color: blue;">PAN No:</strong> {{ security.panno }}</div>
                <div> <strong style="color: blue;">Address:</strong> {{ security.address }}</div>
                <div> <strong style="color: blue;">Email:</strong> {{ security.email }}</div>

                <div> <strong style="color: blue;">Account Number: </strong>{{ security.accountnumber }}</div>
                <div><strong style="color: blue;">IFSC Code: </strong>{{ security.ifccode }}</div>
              </div>
              <div class="col-md-4">
                <div class="card" style="width: 150px;">
                  <img [src]="security.image" class="card-img-top" alt="Security Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  